# vim:filetype=make
# make.config
#

bindir = /home/james.thorpe/bin/myVHO/src/bin

#Compiler Options
#FC = ifort 
FC = gfortran 
#FFLAGS = -O3 
FFLAGS = -g -fcheck=bounds -Wall -Wextra -Wshadow

#Linear algebra libraries
# local
#LINAL = -L/Users/jamesthorpe/LAPACK/lapack-3.7.0 -llapack -lblas
# hipergator
MKL = /apps/compilers/intel/2018/1.163/compilers_and_libraries_2018.1.163/linux/mkl/lib/intel64_lin
LINAL = -L$(MKL) -Wl,-R$(MKL) -lmkl_lapack95_lp64 -lmkl_intel_lp64 -lmkl_core -lmkl_sequential -lm

